:root {
    --primary: #89cff0;
    --secondary: #2b4898;
    --tertiary: #ff0080;
    --charcoal: #36454f;
    --text: #212529;
    --white: #fff;
    --twitter: #1da1f2;
    --min-width: 576px;
    --med-width: 768px;
    --max-width: 992px;
}

html, body {
    font-family: 'Muli', sans-serif;
}

h1, h2, h3, h4, h5, h6, ul, p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ul {
    list-style-type: none;
}

a, a:hover {
    color: var(--primary);
    color: #89cff0;
}

a:active {
    color: var(--tertiary);
    color: #ff0080;
}

.banner {
    background: rgba(43, 72, 152, 0.35);
}

.icon {
    width: 1rem;
    height: 1rem;
}

.icon--social-media {
    width: 3rem;
    height: 3rem;
}

.icon-nav {
    fill: var(--text);
    fill: #212529;
}

.icon-footer {
    fill: var(--white);
    fill: #fff;
}

.twitter-icon {
    fill: var(--twitter);
    fill: #1da1f2;
}

.title {
    color: var(--white);
    color: #fff;
    align-self: flex-end;
}

.btn {
    border-radius: 0;
}

@media (min-width: 576px) { 
    .btn {
        align-self: flex-end;
    }
}

.btn-primary {
    background-color: var(--primary);
    background-color: #89cff0;
    color: var(--text);
    color: #212529;
}

.btn-secondary {
    background-color: var(--secondary);
    background-color: #2b4898;
    color: var(--white);
    color: #fff;
}

.image--main {
    background-image: url('assets/img/main-alt.jpg');
}

.image--about {
    background-image: url('assets/img/westminster-assembly.jpg');
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    padding: 0;
    border-radius: 0;
    background-color: var(--primary);
    background-color: #89cff0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header--alt {
    height: 25vh;
}

.header__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(43, 72, 152, 0.65);
    color: var(--white);
    color: #fff;
    padding: 0.5rem;
    text-align: center;
}

.header__text--full {
    height: 100%;
    width: 100%;
}

@media (min-width: 576px) { 
    .header__text {
        padding: 2rem;
    }
}

@media (min-width: 769px) { 
    .header__text {
        padding: 3rem;
    }
}

.title {
    padding: 0.5rem; 
}

.navbar {
    padding: 0;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    background-color: #89cff0;
    width: 100%;
}

.nav__list-item {
    width: 100%;
}

.nav__list-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
    color: #212529;
    background-color: var(--primary);
    background-color: #89cff0;
    padding: 0.5rem;
    width: 100%;
}

.nav__list-link--active {
    background-color: var(--secondary);
    background-color: #2b4898;
    color: var(--white);
    color: #fff;
    box-shadow: 0 0 8px var(--secondary);
    box-shadow: 0 0 8px #2b4898;
}

.nav__list-link--active .icon-nav {
    background-color: var(--secondary);
    background-color: #2b4898;
    color: var(--white);
    color: #fff;
}

.nav__list-link:hover {
    cursor: pointer;
    box-shadow: 0 0 8px var(--tertiary);
    box-shadow: 0 0 8px #ff0080;
    background-color: var(--tertiary);
    background-color: #ff0080;
    color: var(--white);
    color: #fff;
    text-decoration: none;
}

.nav__list-link--active .icon-nav,
.nav__list-link:hover .icon-nav {
    fill: var(--white);
    fill: #fff;
}

.billboard {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: auto;
    max-width: var(--max-width);
    max-width: 992px;
}

.billboard:last-child {
    margin-bottom: 2rem;
}

.cards-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: var(--max-width);
    max-width: 992px;
    margin: auto;
    justify-content: space-between;
}

@media (min-width: 576px) { 
    .cards-container {
        flex-direction: row;
        margin: auto;
    }
}

.card {
    border-radius: 0;
    box-shadow: 0 0 8px var(--secondary);
    box-shadow: 0 0 8px #2b4898;
    margin-bottom: 1rem;
    width: 18rem;
    margin: auto;
    margin-bottom: 1rem;
    flex: 1 1 0;
}

@media (min-width: 576px) { 
    .card {
        margin: initial;
        margin: 0.5rem;
    }
}

.card-image-container {
    max-width: 100%;
    max-height: 190px;
    height: 190px;
    overflow: hidden;
}

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: var(--charcoal);
    background-color: #36454f;
    color: var(--white);
    color: #fff;
    margin-bottom: 3rem;
}

@media (min-width: 769px) { 
    .footer {
        padding: 1rem;
    }
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    max-width: 992px;
    margin: auto;
}

@media (min-width: 769px) { 
    .footer__wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
}

.footer__content {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    padding: 0.5rem;
}

.footer__content--map {
    margin: auto;
}

.social-media {
    display: block;
    background-color: var(--primary);
    background-color: #89cff0;
    border: 2px solid var(--primary);
    border: 2px solid #89cff0;
    margin-bottom: 1rem;
    padding: 0.5rem;
    color: var(--text);
    color: #212529;
}

.social-media:hover {
    background-color: var(--tertiary);
    background-color: #ff0080;
    text-decoration: none;
    color: var(--white);
    color: #fff;
}

.social-media__text {
    margin-left: 0.5rem;
}